.fa-heart{
    position: absolute;
    right: 8%;
    top: 24px;
    font-size: 32px;
    cursor: pointer;

    &.fas:hover{
        background: linear-gradient(190deg, $colorPrimary, $colorSecondary);
	opacity:0;		
        animation: pulse linear 0.5s;
	color:red;
    }

    &.far:hover ~ &.fas,
    &.fas:hover{
        animation-play-state: running;
    }
}

