/* - - - Search Bar - - - */
.searchBar {
    @include centerElement;
    height: 50px;
    color: #353535;
    cursor: text;

    &__icon {
        margin-right: 1em;
    }

    &__text {
        font-weight: 500;
        font-family: "Roboto", sans-serif;
    }
}

.descriHead{
    display: flex;
    flex-direction: column;
    @include for-size(tablet_portrait){
        flex-direction: row;
        box-shadow: 0px -5px 5px 0px #cfcfcf;
        justify-content: space-evenly;
    }
    @include for-size(tablet_landscape){
        padding: 0;
    }
}

/* - - - Description - - - */
.description {
    background: #f6f6f6;
    padding: 45px 2em 57px 2em;
    font-family: "Roboto", sans-serif;
    text-align: center;
    @include for-size(tablet_portrait){
        @include centerElement;
        flex-direction: column;
        width: 50%;
        padding: 0 2%;
        margin: 0;
        background-color: white;
    }

    &__title {
        @include titles;
    }

    &__text {
        font-size: 1.125em;
        font-weight: 300;
        margin: 1em 0 2em 0;
    }
}
/* - - - Explaination - - - */
.explaination{
    font-family: "Roboto", sans-serif;
    padding: 50px 5%;
    @include for-size(tablet_portrait){
        flex: 1;
    }
    

    &__title{
        @include titles;
    }

    &__card{
        display: flex;
        align-items: center;
        position: relative;
        margin: 25px 0 25px 12px;
        padding: 25px 0;
        border-radius: 24px;
        box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
        background: white;
        cursor: pointer;
        transition: all .25s ease;
        @include for-size(tablet_landscape){
            max-width: 440px;
        }
        

        &__icon{  
            color: #7e7e7e;
            margin: 0 20px 0 32px;
            width: 20px;
            @include centerElement;
            display: flex !important;
            transition: all .25s ease;
        }

        &__text{
            color: black;
            font-size: 14px;
            font-weight: 600;
        }

        &__step{
            position: absolute;
            @include centerElement;
            left: -12px;
            top: 22px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $colorPrimary;
            color: white;
            font-size: 12px;
        }

        &:hover{
            background: #f5edff;
        }
        &:hover &__icon{
            color: $colorPrimary;
        }
    }
}

/* - - - Restaurants - - - */
.restaurants{
    background: #f6f6f6;
    padding: 55px 5%;
    font-family: "Roboto", sans-serif;
    @include for-size(tablet_landscape){
        display: grid;
        grid-template-columns: repeat(2, 45%);
        column-gap: 10%;
        grid-row: auto;
    }

    &__title{
        @include titles;
        margin-bottom: 25px;
        @include for-size(tablet_landscape){
            grid-column: 1/3;
            grid-row: 1;
        }
    }

    &__card{
        position: relative;
        display: block;
        border-radius: 20px;
        box-shadow: 0.25rem 0.25rem 10px #e4e4e4;
        margin-bottom: 18px;
        &__image{
            height: 175px;
            object-fit: cover;
            object-position: center;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        &__description.cards{
            padding: 20px 14px;
            position: relative;

            .cards__title{
                font-size: 18px;
                font-weight: bold;
            }
            .cards__sub{
                margin-top: 5px;
                font-size: 17px;
            }
        }

        &--new::before{
            position: absolute;
            right: 11px;
            top: 11px;
            @include centerElement;
            width: 81px;
            height: 29px;
            border-radius: 2px;
            content: "Nouveau";
            background: $colorTertiary;
            color: darken($colorTertiary, 40%);
            font-size: 14px;
            font-weight: bold;
            
        }
    }
}